body {
    background-color: burlywood;
}

#head1 {
    padding: 15px;
}

h3 {
    font-variant: small-caps;
    font-size: 40px;
}

.navzone {
    color: darkslategray;
}

#tehlulz {
    font-style: italic;
    font-size: 18px;
}

ul {
    color: chocolate;
}

a {
    color: dodgerblue;
    font-weight: bold;
}

.prose {
    font-family: "Lucida Console", Monaco, monospace;
}

.extreme {
    font-weight: bold;
    font-stretch: expanded;
}